.site-header
  color #fff
  background #0066bb url(../images/zooniverse-icon-web-white-small.png) no-repeat right
  background-size contain

  .title
    display inline-block
    padding 0 20px
    a
      color #fff
      text-decoration none
  .link
    display inline-block
    padding 20px 10px 0 10px
    color #fff
    text-decoration none
    border-radius 3px
    &.active,
    &:hover
      background-color #0085F3
